<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'>
    <link rel="stylesheet" href="static/style.css">

    <title>ASI About us</title>
</head>
<body class="container">
    <main>
        <div class="sticky">
        <h1>Welcome to ASI's Site
        <img src="/static/Logo.png" width=50px>
        </h1>
        </div>
        <p>
            <a href="/">Home</a> &nbsp; &nbsp; &nbsp; <a href="/about">About</a>
        </p>
        <h2>Our founding</h2>
        <p>founding things</p>
        <br>
    </main>
</html>